@import "../grid-vars";
@import "../grid-mixins";

.bbg-h-hide-tablet {
  @include breakpoint(medium) {
    display: none !important;
  }
}

.bbg-h-hide-mobile {
  @include breakpoint(small) {
    display: none !important;
  }
}

.bbg-h-hide-desktop,
.bbg-h-show-tablet {
  display: none !important;

  @include breakpoint(medium) {
    display: inherit !important;
  }
}

.bbg-h-show-mobile {
  display: none !important;

  @include breakpoint(small) {
    display: inherit !important;
  }
}
